In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lesson 09: Functions ##

## Functions ##

In [ ]:
def triple(x):
    return 3 * x

In [ ]:
triple(3)

In [ ]:
num = 4

In [ ]:
triple(num)

In [ ]:
triple(num * 5)

### Note About Scopes

In [ ]:
x

In [ ]:
x = 5

In [ ]:
triple(2 * x)

In [ ]:
x

### Type Agnostic

In [ ]:
triple('ha')

In [ ]:
triple(np.arange(4))

### Multiple Arguments

$ h^2 = x^2 + y^2 \hspace{20 pt} => \hspace{20 pt} h = \sqrt{ x^2 + y^2 } $

In [ ]:
def hypotenuse(x,y):
    hypot_squared = (x ** 2 + y ** 2)
    return hypot_squared ** 0.5

In [ ]:
hypotenuse(9, 12)

In [ ]:
hypotenuse(2, 2)

## Apply ##

In [ ]:
office = Table().with_columns(
    'Person', make_array('Jim', 'Pam', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
office

In [ ]:
def age_in_2021(x):
    return 2021 - x

In [ ]:
age_in_2021(1975)

In [ ]:
age_in_2021(1991)

In [ ]:
office.apply(age_in_2021, 'Birth Year')

In [ ]:
def greeting(person):
    return 'Dunder Mifflin, this is ' + person

In [ ]:
greeting('Pam')

In [ ]:
greeting('Erin')

In [ ]:
office.apply(greeting, 'Person')

In [ ]:
def name_and_age(name, year):
    age = 2021 - year
    return name + ' is ' + str(age)

In [ ]:
office.apply(name_and_age, 'Person', 'Birth Year')