In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Arrays

In [ ]:
heights = make_array(67, 60, 71, 63, 65)
heights

In [ ]:
heights / 12

In [ ]:
len(heights)

In [ ]:
sum(heights)

In [ ]:
sum(heights) / len(heights)

In [ ]:
np.average(heights)

In [ ]:
strings_array = make_array('ok', 'ya', 'hm')
strings_array

In [ ]:
# This will produce an error
strings_array * 2

In [ ]:
heights.item(3)

In [ ]:
heights.item(0)

In [ ]:
strings_array.item(0)

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
a = np.arange(8)

In [ ]:
a

In [ ]:
a.item(8)

## Creating a Table from Scratch ##

In [2]:
streets = make_array('Englewood', 'Knox', 'Green', 'Markham')
streets

array(['Englewood', 'Knox', 'Green', 'Markham'], dtype='<U9')

In [3]:
Table()

In [4]:
southside = Table().with_column('Streets', streets)
southside

Streets
Englewood
Knox
Green
Markham

In [5]:
southside.with_column('Blocks from campus', np.arange(4))

Streets   | Blocks from campus
Englewood | 0
Knox      | 1
Green     | 2
Markham   | 3

In [6]:
southside

Streets
Englewood
Knox
Green
Markham

In [7]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

Streets   | Blocks from campus
Englewood | 0
Knox      | 1
Green     | 2
Markham   | 3

In [8]:
southside.labels

('Streets', 'Blocks from campus')

In [9]:
southside.num_columns

2

In [10]:
southside.num_rows

4

## Reading a Table from a File  ##

In [11]:
du_bois = Table.read_table('data/du_bois.csv')
du_bois

CLASS         | ACTUAL AVERAGE | RENT | FOOD | CLOTHES | TAXES | OTHER | STATUS
100-200       | 139.1          | 0.19 | 0.43 | 0.28    | 0.001 | 0.099 | POOR
200-300       | 249.45         | 0.22 | 0.47 | 0.23    | 0.04  | 0.04  | POOR
300-400       | 335.66         | 0.23 | 0.43 | 0.18    | 0.045 | 0.115 | FAIR
400-500       | 433.82         | 0.18 | 0.37 | 0.15    | 0.055 | 0.245 | FAIR
500-750       | 547            | 0.13 | 0.31 | 0.17    | 0.05  | 0.34  | COMFORTABLE
750-1000      | 880            | 0    | 0.37 | 0.19    | 0.08  | 0.36  | COMFORTABLE
1000 and over | 1125           | 0    | 0.29 | 0.16    | 0.045 | 0.505 | WELL-TO-DO

In [12]:
# Which group ("CLASS") spent the highest percentage on rent?
...

In [13]:
du_bois.select('STATUS')

STATUS
POOR
POOR
FAIR
FAIR
COMFORTABLE
COMFORTABLE
WELL-TO-DO

In [14]:
du_bois.column('STATUS')

array(['POOR', 'POOR', 'FAIR', 'FAIR', 'COMFORTABLE', 'COMFORTABLE',
       'WELL-TO-DO'], dtype='<U11')

In [15]:
du_bois.select('STATUS')

STATUS
POOR
POOR
FAIR
FAIR
COMFORTABLE
COMFORTABLE
WELL-TO-DO

In [16]:
du_bois.column('STATUS')

array(['POOR', 'POOR', 'FAIR', 'FAIR', 'COMFORTABLE', 'COMFORTABLE',
       'WELL-TO-DO'], dtype='<U11')

In [17]:
du_bois.column('ACTUAL AVERAGE')

array([ 139.1 ,  249.45,  335.66,  433.82,  547.  ,  880.  , 1125.  ])

In [18]:
du_bois.column('FOOD')

array([0.43, 0.47, 0.43, 0.37, 0.31, 0.37, 0.29])

In [19]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

array([ 59.813 , 117.2415, 144.3338, 160.5134, 169.57  , 325.6   ,
       326.25  ])

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois = du_bois.with_column(
    'Food $',
    food_dollars
)
du_bois

In [ ]:
du_bois.set_format('FOOD', PercentFormatter)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.column('FOOD')

## Selecting data in a column ##

In [ ]:
movies = Table.read_table('data/movies_by_year_with_ticket_price.csv')
movies.show()

In [ ]:
gross_in_dollars = movies.column('Total Gross') * 1e6
tix_sold = gross_in_dollars / movies.column('Average Ticket Price')

In [ ]:
movies = movies.with_column('Tickets sold', tix_sold)

In [ ]:
movies.show(4)

In [ ]:
movies.set_format('Tickets sold', NumberFormatter)

In [ ]:
movies.plot('Year', 'Tickets sold')

In [ ]:
movies.where('Year', are.between(2000, 2005))

In [ ]:
movies.where('Year', 2002)

In [ ]:
movies.where('Year', are.equal_to(2002))

In [ ]:
movies.where('#1 Movie', are.containing('Harry Potter'))

In [ ]:
movies.take(np.arange(2, 5))