In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lesson 11: Pivots and Joins #

## Cross-classification: grouping by two columns

In [ ]:
sky = Table.read_table('data/skyscrapers_v2.csv')
##show age of skyscraper instead of completion date
##sky = (sky.with_column('age', 2022 - sky.column('completed'))
##          .drop('completed'))
sky.show(3)

In [ ]:
## group by material and city and count how many there are of each combination

In [ ]:
## instead of counting by combo, average the values of their attributes

In [ ]:
## put the matching city information first instead

In [ ]:
## build pivot table instead with columns of material and rows of city and count number of each

In [ ]:
# pivot the other way with city columns and material rows

In [ ]:
# instead of counting the number of each skyscraper with each combination, show the average height

In [ ]:
## get the tallest of each combination instead of average
sky_p = ...

In [ ]:
## calculate the difference of largest steel vs largest concrete in each city
sky_p = sky_p.with_column(
    'difference', 
    abs(sky_p.column('steel') - sky_p.column('concrete'))
)
sky_p

In [ ]:
## sort by difference
sky_p.sort('difference', True)

## Joins ##

In [ ]:
drinks = Table().with_columns('Drinks', make_array(), 'Cafe', make_array(), 'Price', make_array())
drinks = drinks.with_rows([
    ['Chai Tea', 'Joe van Gogh', 4],
    ['Espresso', 'Monuts',  2],
    ['Latte',    'Monuts',  3],
    ['Espresso', "Cloche",   2]
])
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon', make_array(10, 20, 5),
    'Location', make_array('Joe van Gogh', 'Monuts', 'Joe van Gogh')
)
discounts

In [ ]:
## join with with the names of the Cafe with the Locations in the drinks and discounts tables
combined = ...
combined

In [ ]:
## calculate the new price as the old price - old price * discount
discounted_frac = ...
## add the new price to the combined table
combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

In [ ]:
## what happens if we join a table with itself?
drinks.join('Cafe', drinks, 'Cafe')