In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lesson 09: Functions ##

## Functions ##

In [ ]:
# define simple function

In [ ]:
# call function on a number

In [ ]:
num = 4

In [ ]:
triple(num)

In [ ]:
triple(num * 5)

### Note About Scopes

In [ ]:
x

In [ ]:
x = 5

In [ ]:
triple(2 * x)

In [ ]:
x

### Type Agnostic

In [ ]:
# use function on different typed input

In [ ]:
# use function on an array

### Multiple Arguments

$ h^2 = x^2 + y^2 \hspace{20 pt} => \hspace{20 pt} h = \sqrt{ x^2 + y^2 } $

In [ ]:
def hypotenuse(x,y):
    ...

In [ ]:
hypotenuse(9, 12)

In [ ]:
hypotenuse(2, 2)

## Apply ##

In [ ]:
office = Table().with_columns(
    'Person', make_array('Jim', 'Pam', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
office

In [ ]:
def age_in_2022(x):
    return 2022 - x

In [ ]:
# apply function to every individual in the table
office.apply(...)

In [ ]:
def greeting(person):
    return 'Dunder Mifflin, this is ' + person

In [ ]:
greeting('Pam')

In [ ]:
greeting('Erin')

In [ ]:
office.apply(greeting, 'Person')

In [ ]:
# create function with two arguments
def name_and_age(name, year):
    ...

In [ ]:
# apply function to two columns from our table
office.apply(name_and_age, 'Person', 'Birth Year')