In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab02.ipynb")

# Lab 02 Table operations

Welcome to Lab 02. This week, we'll learn how to import a module and practice table operations. Please complete this notebook by filling in the cells provided. Before you begin, be sure you've run the very first cell in this notebook to load `otter`, the auto-grading library that will provide feedback while completing this assignment. This cell should be run each time you load this notebook, as everything stored into memory is reset when you close Datahub for more than a few minutes.

Recommended reading
 * [Introduction to tables](https://www.inferentialthinking.com/chapters/03/4/Introduction_to_Tables)

First, run the cell below to import the datascience library, which will allow us to create Tables and other important tools.

In [ ]:
from datascience import *

# 1. Review: Introduction to Python

The two building blocks of Python code are *expressions* and *statements*.  An **expression** is a piece of code that

* is self-contained, meaning it would make sense to write it on a line by itself, and
* usually evaluates to a value.


Here are two expressions that both evaluate to 3

* `3`
* `5 - 2`
    
One important type of expression is the **call expression**. A call expression begins with the name of a function and is followed by the argument(s) of that function in parentheses. The function returns some value, based on its arguments. Some important mathematical functions are listed below.

| Function | Description                                                   |
|----------|---------------------------------------------------------------|
| `abs`      | Returns the absolute value of its argument                    |
| `max`      | Returns the maximum of all its arguments                      |
| `min`      | Returns the minimum of all its arguments                      |
| `pow`      | Raises its first argument to the power of its second argument |
| `round`    | Rounds its argument to the nearest integer                     |

Here are two call expressions that both evaluate to 3

* `abs(2 - 5)`
* `max(round(2.8), min(pow(2, 10), -1 * pow(2, 10)))`

The expression `5 - 2` and the two call expressions given above are examples of **compound expressions**, meaning that they are actually combinations of several smaller expressions.  `5 - 2` combines the expressions `5` and `2` by subtraction.  In this case, `5` and `2` are called **subexpressions** because they're expressions that are part of a larger expression.

A **statement** is a whole line of code.  Some statements are just expressions.  The expressions listed above are examples.

Other statements *make something happen* rather than *having a value*. For example, an **assignment statement** assigns a value to a name. 

A good way to think about this is that we're **evaluating the right-hand side** of the equals sign and **assigning it to the left-hand side**. Here are some assignment statements:
    
* `height = 1.3`
* `the_number_five = abs(-5)`
* `absolute_height_difference = abs(height - 1.688)`

An important idea in programming is that large, interesting things can be built by combining many simple, uninteresting things.  The key to understanding a complicated piece of code is breaking it down into its simple components.

For example, a lot is going on in the last statement above, but it's really just a combination of a few things.  This picture describes what's going on.

<img src="statement.png"/>

#### Question 1.1.

In the next cell, assign the name `new_year` to the larger number among the following two numbers:

1. the **absolute value** of $2^{5}-2^{11}-2^3 + 1$ , and 
2. $5 \times 13 \times 31+1$.

You should not evaluate either value, but rather use a Python function to determine which of the two expressions is larger, and save the result to the name `new_year`. Try to use just one statement (one line of code). Be sure to check your work by executing the test cell afterward.

In [ ]:
new_year = ...
new_year

In [ ]:
grader.check("q1_1")

We've asked you to use one line of code in the question above because it only involves mathematical operations. However, more complicated programming questions will more require more steps. It isn’t always a good idea to jam these steps into a single line because it can make the code harder to read and harder to debug.

Good programming practice involves splitting up your code into smaller steps and using appropriate names. You'll have plenty of opportunities to practice this throughout this course.

# 2. Importing code

<img src="https://i.imgur.com/qbDVKh7.png" width=600 />

Most programming involves work that is very similar to work that has been done before.  Since writing code is time-consuming, it's good to rely on others' published code when you can.  Rather than copy-pasting, Python allows us to **import modules**. A module is a file with Python code that has defined variables and functions. By importing a module, we are able to use its code in our own notebook.

Python includes many useful modules that are just an `import` away.  We'll look at the `math` module as a first example. The `math` module is extremely useful in computing mathematical expressions in Python. 

Suppose we want to very accurately compute the area of a circle with a radius of 5 meters.  For that, we need the constant $\pi$, which is roughly 3.14.  Conveniently, the `math` module has `pi` defined for us.

Run the cell below.

In [ ]:
import math

radius = 5
area_of_circle = radius**2 * math.pi
area_of_circle

In the code above, the line `import math` imports the math module. This statement creates a module and then assigns the name `math` to that module. We are now able to access any variables or functions defined within `math` by typing the name of the module followed by a dot, then followed by the name of the variable or function we want.

```
<module name>.<name>
```

#### Question 2.1.
The module `math` also provides the name `e` for the base of the natural logarithm, which is roughly 2.71.  Compute $e^{\pi}-\pi$, assigning it the name `near_twenty`.

In [ ]:
near_twenty = ...
near_twenty

In [ ]:
grader.check("q2_1")

<img src="https://imgs.xkcd.com/comics/e_to_the_pi_minus_pi.png" />

## 2.1. Accessing Functions

In the question above, you accessed variables within the `math` module. 

**Modules** also define **functions**.  For example, `math` provides the name `sin` for the sine function.  Having imported `math` already, we can write `math.sin(3)` to compute the sine of 3.  (Note that this sine function considers its argument to be in [radians](https://en.wikipedia.org/wiki/Radian), not degrees.  180 degrees are equivalent to $\pi$ radians.)

#### Question 2.1.1.
A $\frac{\pi}{4}$ radian (45-degree) angle forms a right triangle with equal base and height, pictured below.  If the hypotenuse (the radius of the circle in the picture) is 1, then the height (the dashed red line) has a length of $\sin\left(\frac{\pi}{4}\right)$.  Compute that value using `sin` and `pi` from the `math` module.  Assign the result of the calculation to the name `sine_of_pi_over_four`.

<img src="http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif" />

Source: [Wolfram MathWorld](http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif)

In [ ]:
sine_of_pi_over_four = ...
sine_of_pi_over_four

In [ ]:
grader.check("q2_1_1")

For your reference, below are some more examples of functions from the `math` module.

Notice how different functions take in different numbers of arguments. Often, the [documentation](https://docs.python.org/3/library/math.html) of the module will provide information on how many arguments are required for each function.

Run the cell below.

In [ ]:
# Calculating logarithms (the logarithm of 8 in base 2)
# The result is 3 because 2 to the power of 3 is 8
math.log(8, 2)

Run the cell below.

In [ ]:
# Calculating square roots
math.sqrt(5)

There are various ways to import and access code from outside sources. The method we used above — `import <module_name>` — imports the entire module and requires that we use `<module_name>.<name>` to access its code. 

We can also import a specific constant or function instead of the entire module. Notice that you don't have to use the module name beforehand to reference that particular value. However, you do have to be careful about reassigning the names of the constants or functions to other values.

Run the cell below.

In [ ]:
# Importing just cos and pi from math
# We don't have to use `math.` in front of cos or pi

from math import cos, pi
print(cos(pi))

# We do have to use it in front of the other functions from math that were not imported
math.log(pi)

Or we can import every function and value from the entire module. This method can yield unexpected results, since you may not know the name of every function in the `math` library. Importing all of them may overwrite any functions with the same name. In general this method should be avoided unless you're certain it won't cause any issues.

Run the cell below (we've checked, and it won't cause any issues in this notebook!).

In [ ]:
# Lastly, we can import everything from math using the *
# Once again, we don't have to use 'math.' beforehand 

from math import *
log(pi)

Don't worry too much about which type of import to use. It's often a coding style choice left up to each programmer. In this course, you'll always import the necessary modules when you run the setup cell (like the first code cell in this lab).

# 3. Table operations

The table `farmers_markets.csv` contains data on farmers' markets in the United States  (data collected [by the USDA](https://apps.ams.usda.gov/FarmersMarketsExport/ExcelExport.aspx)).  Each row represents one such market.

Run the cell below.

In [ ]:
farmers_markets = Table.read_table('farmers_markets.csv')

Let's examine our table to see what data it contains.

<!-- BEGIN QUESTION -->

#### Question 3.1.
Use the method `show` to display the first 5 rows of `farmers_markets`.

**Note:** The terms "method" and "function" are technically not the same thing, but for the purposes of this course, we will use them interchangeably.

**Warning:** Make sure not to call `.show()` without an argument, as this will attempt to show all the rows in the `farmers_markets` table, and since this table is quite large it will **crash your kernel**.

In [ ]:
...

<!-- END QUESTION -->

Notice that some of the values in this table are missing, as denoted by "nan." This means either that the value is not available (e.g. if we don’t know the market’s street address) or not applicable (e.g. if the market doesn’t have a street address). You'll also notice that the table has a large number of columns in it.

## `num_columns`

The table property `num_columns` returns the number of columns in a table. (A "property" is just a method that doesn't need to be called by adding parentheses.)

Example call: `<tbl>.num_columns`

#### Question 3.2.
Use `num_columns` to find the number of columns in our farmers' markets dataset.

Assign the number of columns to `num_farmers_markets_columns`.

In [ ]:
num_farmers_markets_columns = ...
print('The table has', num_farmers_markets_columns, 'columns in it.')

In [ ]:
grader.check("q3_2")

## `num_rows`

Similarly, the property `num_rows` tells you how many rows are in a table.

#### Question 3.3
Assign the number of rows to `num_farmers_markets_rows`.

In [ ]:
num_farmers_markets_rows = ...
print("The table has", num_farmers_markets_rows, "rows in it.")

In [ ]:
grader.check("q3_3")

## `select`
Most of the columns are about particular products -- whether the market sells tofu, pet food, etc.  If we're not interested in that information, it just makes the table difficult to read.  This comes up more than you might think, because people who collect and publish data may not know ahead of time what people will want to do with it.

In such situations, we can use the table method `select` to choose only the columns that we want in a particular table. It takes any number of arguments. Each should be the name of a column in the table. It returns a new table with only those columns in it. The columns are in the order in which they were listed as arguments.

For example, the value of `farmers_markets.select("MarketName", "State")` is a table with only the name and the state of each farmers' market in `farmers_markets`.

#### Question 3.4.
Use `select` to create a table with only the name, city, state, latitude (`y`), and longitude (`x`) of each market.  Call that new table `farmers_markets_locations`.

**Hint:** Make sure to be exact when using column names with `select`; double-check capitalization.

In [ ]:
farmers_markets_locations = ...
farmers_markets_locations

In [ ]:
grader.check("q3_4")

## `drop`

`drop` serves the same purpose as `select`, but it takes away the columns that you provide rather than the ones that you don't provide. Like `select`, `drop` returns a new table.

#### Question 3.5.
Suppose you just didn't want the `FMID` or `updateTime` columns in the original table named `farmers_markets`. Create a new table that's a copy of `farmers_markets` but doesn't include those columns. Call that table `farmers_markets_without_fmid`.

In [ ]:
farmers_markets_without_fmid = ...

In [ ]:
grader.check("q3_5")

## `sort`
Now, suppose we want to answer some questions about farmers' markets in the US. For example, which market(s) have the largest longitude (given by the `x` column)? 

To answer this, we'll sort `farmers_markets_locations` by longitude.

Run the cell below.

In [ ]:
farmers_markets_locations.sort('x')

That didn't answer our question because we sorted from smallest (or in this case most negative) to largest (least negative) longitude. To look at the largest longitudes, we'll have to sort in reverse order.

#### Question 3.6.
Sort the `farmers_markets_locations` table from **largest** (least negative) to **smallest** (most negative) longitude (value in the column labeled `x`). Call the new sorted table `farmers_markets_locations_by_longitude`. You can pass the `sort` method an *optional argument* of `descending=True`. This is called an *optional argument* because the sort function can be called without it, but in this case it's required to obtain the result we're looking for.

The `sort` method has a default value of `False`, so you must explicitly tell the function `descending=True`, to sort in descending order.

In [ ]:
farmers_markets_locations_by_longitude = ...
farmers_markets_locations_by_longitude

In [ ]:
grader.check("q3_6")

Some details about sort

1. The first argument to `sort` is the name of a column to sort by.
2. If the column has text in it, `sort` will sort alphabetically; if the column has numbers, it will sort numerically.
3. The value of `farmers_markets_locations.sort("x")` is a *copy* of `farmers_markets_locations`; the `farmers_markets_locations` table doesn't get modified. For example, if we called `farmers_markets_locations.sort("x")`, then running `farmers_markets_locations` by itself would still return the unsorted table.
4. Rows always stick together when a table is sorted.  It wouldn't make sense to sort just one column and leave the other columns alone.  For example, in this case, if we sorted just the `x` column, the farmers' markets would all end up with the wrong longitudes.

#### Question 3.7.
Create a version of `farmers_markets_locations` that's sorted by **latitude (`y`)**, with the largest latitudes first.  Call it `farmers_markets_locations_by_latitude`.

In [ ]:
farmers_markets_locations_by_latitude = ...
farmers_markets_locations_by_latitude

In [ ]:
grader.check("q3_7")

Now let's say we want a table of all farmers' markets in North Carolina. Sorting won't help us much here because North Carolina is closer to the middle of the dataset.

Instead, we use the table method `where`. Look at the [documentation](http://data8.org/datascience/) to see how to use `where`.

Run the following cell:

In [ ]:
nc_farmers_markets = farmers_markets_locations.where('State', are.equal_to('North Carolina'))
nc_farmers_markets

Ignore the syntax for the moment.  Instead, try to read that line like this:

> Assign the name **`nc_farmers_markets`** to a table whose rows are the rows in the **`farmers_markets_locations`** table **`where`** the **`'State'`**s `are` `equal` `to` `North Carolina`.

Now let's dive into the details a bit more.

`where` takes 2 arguments

1. The name of a column.  `where` finds rows where that column's values meet some criterion.
2. A predicate that describes the criterion that the column needs to meet. If you don't provide a predicate, `where` will assume a predicate of `are.equal_to`.

The predicate in the example above called the function `are.equal_to` with the value we wanted, `'North Carolina'`.  We'll see other predicates soon.

`where` returns a table that's a copy of the original table, but **with only the rows that meet the given predicate**.

#### Question 3.8.
Use `nc_farmers_markets` to create a table called `morganton_farmers_markets` containing farmers' markets in Morganton, North Caorlina.

In [ ]:
morganton_farmers_markets = ...
morganton_farmers_markets

In [ ]:
grader.check("q3_8")

So far we've only been using `where` with the predicate that requires finding the values in a column to be *exactly* equal to a certain value. However, there are many other predicates. Here are a few:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|
|`are.containing` | `are.containing('Durham')` | Contains the string 'Durham' |

A full list of predicates can be found at: http://data8.org/sp21/python-reference.html. Note that any predicate can be negated by adding `not_` in front of them, e.g. `are.not_above` or `are.not_containing`.

## 4. Analyzing a dataset
Now that you're familiar with table operations, let’s answer some interesting questions about a dataset. 

The website Internet Movie Database (IMDb) keeps a ranks the top 250 movies of all time based on the votes from IMDb users. The website uses an algorithm that combines the value of the rating (on a 1-10 scale) and the number of votes it receives to determine the ranking.

Run the cell below to load the `imdb` table. It contains information about the 250 highest-rated movies on IMDb, listed in random order. This list is from 2021, so it will not contain movies released after 2021.

In [ ]:
imdb = Table.read_table('imdb.csv')
imdb

Often, we want to perform multiple operations - sorting, filtering, or others - in order to turn a table we have into something more useful. You can do these operations one by one, e.g.

```
first_step = original_tbl.where(“col1”, are.equal_to(12))
second_step = first_step.sort(‘col2’, descending=True)
```

However, since the value of the expression `original_tbl.where(“col1”, are.equal_to(12))` is itself a table, you can just call a table method on it:

```
original_tbl.where(“col1”, are.equal_to(12)).sort(‘col2’, descending=True)
```
You should organize your work in the way that makes the most sense to you, using informative names for any intermediate tables you create.

#### Question 4.1.
Create a table of movies released between 2010 and 2020 (inclusive) with ratings above 8. The table should only contain the columns `Title` and `Rating`, **in that order**

Assign the table to the name `above_eight`.

*Hint:* Think about the steps you need to take, and try to put them in an order that make sense. Feel free to create intermediate tables for each step, but please make sure you assign your final table the name `above_eight`!

In [ ]:
above_eight = ...
above_eight

In [ ]:
grader.check("q4_1")

#### Question 4.2.
Use `num_rows` (and arithmetic) to find the *proportion* of movies in the dataset that were released 1900-1999, and the *proportion* of movies in the dataset that were released in the year 2000 or later.

Assign `proportion_in_20th_century` to the proportion of movies in the dataset that were released 1900-1999, and `proportion_in_21st_century` to the proportion of movies in the dataset that were released in the year 2000 or later.

**Hint:** The *proportion* of movies released in the 1900's is the *number* of movies released in the 1900's, divided by the *total number* of movies.

In [ ]:
proportion_in_20th_century = ...
proportion_in_21st_century = ...
print('20th Century: ', proportion_in_20th_century)
print('21st Century: ', proportion_in_21st_century)

In [ ]:
grader.check("q4_2")

# Submitting your work
You're done with this assignment! Assignments should be turned in using the following best practices:
1. Save your notebook.
2. Restart the kernel and run all cells up to this one.
3. Run the cell below with the code `grader.export(...)`. This will re-run all the tests. Make sure they are passing as you expect them to.
4. Download the file named `lab02_<date-time-stamp>.zip`, found in the explorer pane on the left side of the screen. **Note**: Clicking on the link in this notebook may result in an error, it's best to download from the file explorer panel.
5. Upload `lab02_<date-time-stamp>.zip` to the corresponding assignment on Canvas.

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit.

When done exporting, download the .zip file by pressing `SHIFT` on your keyboard and then right-clicking on the generated link and selecting **Save Link As**. Or, find the `.zip` file in the left side of the screen and right-click and select **Download**. You'll submit this `.zip` file for the assignment in Canvas to Gradescope for grading.

In [ ]:
grader.export(pdf=False, force_save=True)